<%- include('../partials/questions/head') %> 
<body>
 <%- include('../partials/questions/header') %> 
  <div class="main">
    <h2>Part 1</h2>
    <div class="content">
      <%- include('../partials/questions/2') %>
      <div class="box answer">
        <h3>Answer</h3>
        <!-- render answer here -->
        <!-- Notice that the commenting inside the ejs brackets is JS. -->

        <p><%- sentence %></p>
        <p><%=  sentence %></p>
        <!-- Keep that in mind for later. Everything between those brackets IS JavaScript. -->
        <button><a href="./question1">Previous</a></button>
        <button><a href="./question3">Next</a></button>
      </div>
    </div>
  </div>
</body>
