<%- include('../partials/questions/head') %> 
<body>
 <%- include('../partials/questions/header') %> 
  <div class="main">
    <h2>Part 1</h2>
    <div class="content">
      <%- include('../partials/questions/3') %>
      <div class="box answer">
        <h3>Answer</h3>
        <!-- render answer here -->
        <img src="<%= homer.imageUrl %> " alt="">
        <p><%= homer.name %> </p>
        <p><%= homer.dob %> </p>
        <p><%= homer.profession %> </p>
        <p><%= homer.favoriteFood %> </p>
        <p><%= homer.favoriteBeverage %> </p>
        <button><a href="./question2">Previous</a></button>
        <button><a href="./question4">Next</a></button>
      </div>
    </div>
  </div>
</body>
