<%- include('../partials/questions/head') %> 
<body>
  <%- include('../partials/questions/header') %> 
  <div class="main">
    <h2>Part 1</h2>
    <div class="content">
      <%- include('../partials/questions/5') %>
      <div class="box answer">
        <h3>Answer</h3>
        <!-- render answer here -->
        <ol>
          <% popularGirlNames.forEach((name, num) => { %>
          <li><%= num + 1 %>. <%= name %></li>
          <% }); %>
        </ol>
        <button><a href="./question4">Previous</a></button>
        <button><a href="./question6">Next</a></button>
      </div>
    </div>
  </div>
</body>
